<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <!-- Sidebar content -->

            Search : <input  ng-model="$ctrl.query" />
            <hr>
            Sort by:
            <Select ng-model="$ctrl.orderProp">
                <option value="name">Alphabetical</option>
                <option value="age">Newest</option>
            </Select>
            <hr>
            <label ><input id="mode1" type="radio"  value="-" name="mode" ng-model="$ctrl.mode"  >down</label>
            <label ><input id="mode2" type="radio" value="+"  name="mode" ng-model="$ctrl.mode"   >up</label>
        </div>
        <div class="col-md-10">
            <!-- Body content -->

            <ul class="phone-list">
                <li class="row"  ng-repeat="phone in $ctrl.phones | filter:$ctrl.query | orderBy :$ctrl.mode+$ctrl.orderProp ">
                    <a class="col-xs-3" href="#!/phones/{{phone.id}}">
                        <img class="img-responsive" ng-src="{{phone.imageUrl}}" alt="{{phone.name}}" />
                    </a>
                    <div class="col-xs-9">
                        <a href="#!/phones/{{phone.id}}"><span>{{phone.name}}</span></a>
                        <p>{{phone.snippet}}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>



